<footer class="footer">
  <small>
    <a href="https://github.com/muraikenta/twitter/wiki/">Rails Tutorial</a>
    by Progate
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   root_path %></li>
      <li><%= link_to "Contact", '#' %></li>
      <li><a href="http://news.railstutorial.jp/">News</a></li>
    </ul>
  </nav>
</footer>